.loginPage {
  min-height: 100vh;
  background: url('../../assets/images/kari-shea-1SAnrIxw5OY-unsplash.jpg')
    no-repeat center center;
  background-size: cover;
  position: relative;
  /* font-family: 'Rubik', sans-serif; */
  margin: -100px;
}

.loginContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 95%;
  width: 500px;
  background-color: rgba(249, 248, 250, 0.7);
  -webkit-box-shadow: 0 2.5rem 8rem 2rem rgb(0 0 0 / 6%);
  box-shadow: 0 2.5rem 8rem 2rem rgb(0 0 0 / 6%);
  padding: 30px 20px;
  /* border-radius      : 10px; */
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}

.loginForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loginLogo {
  margin: 0 auto;
  margin-bottom: 30px;
}

.loginInput,
.loginBtn,
.loginError,
.profileFormBtn {
  padding: 10px;
  max-width: 95%;
  width: 350px;
  margin: 10px 0;
  /* border-radius: 5px; */
  border: none;
  font-family: inherit;
  font-weight: 300;
  font-size: 16px;
  /* background-color: rgb(74, 37, 83); */
  /* color: #fff; */
}

.loginBtn {
  font-weight: 400;
  background-color: rgb(42, 39, 43);
  color: rgb(196, 173, 173);
}

.loginError {
  color: rgb(243, 234, 234);
  background-color: rgb(114, 25, 40);
  margin: 0 auto;
  text-align: center;
}
