.loginForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loginLogo {
  margin: 0 auto;
  margin-bottom: 30px;
}

.loginInput,
.loginBtn,
.loginError,
.profileFormBtn {
  padding: 10px;
  max-width: 95%;
  width: 350px;
  margin: 10px 0;
  /* border-radius: 5px; */
  border: none;
  /* font-family: 'Inter', sans-serif; */
  font-weight: 300;
  font-size: 16px;
  /* background-color: rgb(74, 37, 83); */
  /* color: #fff; */
}

.loginBtn {
  font-weight: 400;
  background-color: rgb(40, 25, 41);
  color: rgb(196, 173, 173);
}
