.profileHeader {
  color: rgb(241, 238, 238);
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0 20px 0;
  height: 40vh;
  background: linear-gradient(rgba(255, 255, 255, 0.083), rgba(36, 34, 34, 0.7)),
    url('../../../assets/images/kari-shea-1SAnrIxw5OY-unsplash.jpg') no-repeat
      center center;
  background-size: cover;
  box-shadow: 5px 5px 15px rgba(77, 75, 75, 0.3);
  margin-top: -100px;
}

@media screen and (max-width: 500px) {
  .profileHeader {
    font-size: 25px;
    height: 30vh;
  }
}
