.btn {
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 3px;
  margin: 5px 10px;
  cursor: pointer;
}

.blueButton {
  background-color: rgb(87, 124, 141);
  color: rgb(221, 224, 226);
}

.btn:hover {
  transform: scale(1.05);
}

.btn:active {
  transform: translateY(3px);
}

.centeredBtn {
  display: block;
  margin: 10px auto;
}
